/* TODO: Switch all units to window- or viewport-scaling measurements */
body{
	padding:0;
	width:50%;
	margin:auto;
	background-color: #9AC1FF;
}

#header{
	display: inline-block;
	clear:all;
	width:100%;
	background:#3399FF;
	font-size:50px;
	text-indent:10px;
	font-family: Helvetica, sans-serif;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#subtitle{
	float:left;
	width:inherit;
	background:#3399FF;
	font-size:18px;
}

#subsubtitle{
	float:left;
	width:inherit;
	background:#3399FF;
	font-size:18px;
}

#footer{
	position:fixed;
	bottom:0px;
	width:inherit;
	background:#3399FF;
	text-indent:10px;
}

#container{
	background-color:#EEE;
	display:inline-block;
	width: 100%;
	min-height: 100%;
}

#header h3{
	padding:0;
	margin:0;
	text-indent:15px;
}

a.scriptlink{
	color:black;
}

#bills{
	padding: 0;
	margin-left:35px;
	margin-right:35px;
}

.bill{
	border:1px solid black;
	overflow:hidden;
	max-width: 75%;
	margin-bottom: 1vh;
	margin-left: auto;
	margin-right: auto;
}

.bill.alive{
	background-color: #EDFFEF;	
}

.bill.dead{
	background-color: #FFEBEB;
}

.bill.limbo{
	background-color: #FEFFDB;
}

#expand{
	float:right;
	top:0px;
}

.bill.tall{
	height:auto;

}