#header{
	float:left;
	display: inline-block;
	clear:all;
	width:100%;
	background:#3399FF;
	font-size:32px;
	text-indent:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#subtitle{
	float:left;
	width:inherit;
	background:#3399FF;
	font-size:18px;
}
#subsubtitle{
	float:left;
	width:inherit;
	background:#3399FF;
	font-size:18px;
}
#footer{
	position:fixed;
	bottom:0px;
	width:inherit;
	background:#3399FF;
	text-indent:10px;
}
#container{
	background-color:#FFF;
	border-radius:5px;
	display:inline-block;
	padding: 30px auto;
}
body{
	width:50%;
	margin:auto;
	background-color: #3333FF;
}
p{
	padding:0;
}
h3{
	padding:0;
	margin:0;
	text-indent:15px;
}
a.scriptlink{
	color:black;
}
h4{
	margin:0;
	padding:0;
	text-indent:25px;
}
ul{
	margin-left:35px;
}
.bill{
	width:75%;
	margin: 10px auto;
	padding: 20px;
	border:1px solid black;
}
.alive{
	background-color: #DBFFDE;	
}
.dead{
	background-color: #FFDBDB;
}